# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.ruff_cache/

# Env files
.env
.envrc

# Flask
instance/

# OS
.DS_Store
